@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
}

body {
    margin: 0;
    font-family: 'Roboto';
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 3fr 2fr;
    grid-template-areas: ". . ." ". content ." ". . .";

    background-image: url("https://source.unsplash.com/2560x1440/?sydney");
}

.searchbar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.content {
    grid-area: content;
    background-color: rgba(255, 255, 255, 75%);
    border-radius: 30px;
    box-shadow: 5px 5px 40px white;

    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: space-around;
}

.temps {
    display: flex;
    gap: 20px;
}

.temp {
    font-size: 2rem;
}

.minmax {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: aliceblue;
    border-style: none;
    border-radius: 10px;
    font-size: 1.5rem;
}

button {
    border-style: none;
    background-color: white;
    border-radius: 10px;
    font-size: 1.5rem;
}

.topbar {
    display: flex;
    align-items: center;
}

.searchbar, .topbar, .humidityline {
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.citytext {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.humidityline {
    display: flex;
}